body {
    background-color: rgb(211, 143, 15);
    place-content: center;
    display: grid;
}

#primer-recuadro{
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: aqua;
    padding: 10px;
    height: 200px;
    

}

img {
    width: 200px;
}

button{
    border: 2px solid black;
    display: grid;
    margin-left: 90px;
    width: 250px;
    margin-top: 20px;
    
}

#segundo-recuadro {
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blueviolet;
    border: 2px solid black;
    margin-top: 50px;
}